* {
  padding: 0;
  margin: 0;
}

body {
  font-family: "Outfit", sans-serif;
  background-color: hsl(212, 45%, 89%);
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.white-container {
  margin: 0 auto;
  width: 350px;
  height: 530px;
  border-radius: 15px;
  background-color: hsl(0, 0%, 100%);
  margin-bottom: 32px;
}

.top-container {
  margin: 24px;
  margin-top: 0px;
}

.image-container {
  display: flex;
  justify-content: center;
}

.qrcode {
  width: 300px;
  border-radius: 15px;
  margin-top: 20px;
}

.middle-container {
  text-align: center;
  width: 290px;
  margin: 0px 25px;
}

.middle-container h2 {
  color: hsl(218, 44%, 22%);
  margin-bottom: 10px;
}

.middle-container p {
  color: hsl(220, 15%, 55%);  
}

.attribution {
  color: hsl(218, 44%, 22%);
  text-align: center;
}

@media (max-width: 375px) {
  .white-container {
    width: 350px;
  }
}

